@media (max-width: 575.98px) {
    .cart-container {
        max-width: 100%;

        .MuiTypography-root {
            display: none;
        }

        .top-display {
            max-width: 100%;
            margin: auto;
        }

        .Cart-slider {
            max-width: 100%;
            height: 7rem;
            margin: 0.5rem auto;
            overflow: hidden;
            border: solid 10px var(--colorWhite);
            border-radius: 10px;
            box-shadow: 0px 0px 20px #0000001f;

            .alice-carousel {
                width: 100%;
                height: 7rem;
                overflow: hidden;

                .alice-carousel__dots,
                .alice-carousel__prev-btn,
                .alice-carousel__next-btn {
                    display: none;
                }

                .alice-carousel__stage-item {
                    img {
                        width: 100%;
                        height: 7rem;
                    }
                }
            }

        }

        .mobile-category-menu {
            max-width: 100%;
            margin: auto;
            margin-top: -50px;
            padding-top: 30px;
            padding-bottom: 10px;
            padding-left: 20px ;
            padding-right: 10px;
            list-style-type: none;
            border-bottom: solid 5px #f3f0f0;

            li {
                font-size: 15px;
                font-weight: 800;
                text-transform: capitalize;
            }

        }

        .category-shop {
            max-width: 100%;
            margin-bottom: 20px;

            .side-nav {
                display: none;

                p {
                    display: none;
                }

                li {
                    display: none;
                }
            }

            .shop {
                width: 100%;
                list-style-type: none;
                box-sizing: border-box;
                display: flex;
                flex-wrap: wrap;
                padding: 10px;

                .item-card {
                    margin: 5px;
                    padding: 10px;
                    width: 42%;
                    color: var(--colorBlack);
                    height: 290px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    background-color: var(--colorWhite);
                    box-shadow: 0px 0px 7px #00000020;
                    border: solid 0.5px transparent;

                    .Card-top {
                        width: 100%;

                        .category {
                            font-size: 11px;
                        }

                        p {
                            font-size: 15px;
                            font-weight: 700;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            margin-bottom: 10px;
                        }
                    }


                    .image-container {
                        width: 100%;
                        margin: auto;
                        height: 180px;
                        overflow: hidden;
                        align-content: center;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: 100%;
                            margin: auto;
                            height: 180px;
                        }
                    }

                    .card-bottom {
                        display: flex;
                        justify-content: space-between;
                        padding: 15px 0px;
                        align-items: center;
                        width: 100%;

                        .amount {
                            display: flex;
                            flex-direction: column;
                            font-size: 19px;
                            font-weight: 700;
                            width: 50%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;

                            small {
                                font-size: 11px;
                            }
                        }

                        .addToCartBtn {
                            width: 50%;

                            .view__item {
                                width: 50%;
                                margin: 0px 2px;
                                border: 1px solid var(--colorGreen);
                                color: var(--colorGreen);
                                font-size: 13px;
                                font-weight: 800;
                                padding: 10px;
                                outline: none;
                                cursor: pointer;
                                border-radius: 10px;
                                background-color: transparent;
                            }

                            .view__item:hover {
                                transition: 0.3s;
                                color: var(--colorWhite);
                                background-color: var(--colorGreen);
                            }

                            .addtocart {
                                width: 50%;
                                margin: 0px 2px;
                                border: 1px solid var(--colorBlack);
                                color: var(--colorBlack);
                                font-size: 13px;
                                font-weight: 800;
                                padding: 10px;
                                outline: none;
                                cursor: pointer;
                                border-radius: 10px;
                                background-color: transparent;
                            }

                            .addtocart:hover {
                                transition: 0.3s;
                                color: var(--colorWhite);
                                background-color: var(--colorBlack);
                            }
                        }


                    }

                }

                .item-card:hover {
                    transition: 0.3s;
                    border: solid 0.5px var(--colorAsh);
                    text-decoration: none;

                }
            }
        }



    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .cart-container {
        max-width: 100%;

        .MuiTypography-root {
            display: none;
        }

        .top-display {
            max-width: 100%;
            margin: auto;
        }

        .Cart-slider {
            max-width: 100%;
            height: 7rem;
            margin: 0.5rem auto;
            overflow: hidden;
            border: solid 10px var(--colorWhite);
            border-radius: 10px;
            box-shadow: 0px 0px 20px #0000001f;

            .alice-carousel {
                width: 100%;
                height: 7rem;
                overflow: hidden;

                .alice-carousel__dots,
                .alice-carousel__prev-btn,
                .alice-carousel__next-btn {
                    display: none;
                }

                .alice-carousel__stage-item {
                    img {
                        width: 100%;
                        height: 7rem;
                    }
                }
            }

        }

        .mobile-category-menu {
            max-width: 95%;
            margin: auto;
            margin-top: -50px;
            padding: 10px;
            padding-top: 0px;
            list-style-type: none;
            border-bottom: solid 5px #f3f0f0;

            li {
                font-size: 15px;
                font-weight: 800;
                text-transform: capitalize;
            }

        }

        .category-shop {
            max-width: 100%;
            margin-bottom: 20px;

            .side-nav {
                display: none;

                p {
                    display: none;
                }

                li {
                    display: none;
                }
            }

            .shop {
                width: 100%;
                list-style-type: none;
                box-sizing: border-box;
                display: flex;
                flex-wrap: wrap;

                .item-card {
                    margin: 5px;
                    padding: 10px;
                    width: 27%;
                    color: var(--colorBlack);
                    height: 290px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    background-color: var(--colorWhite);
                    box-shadow: 0px 0px 7px #00000020;
                    border: solid 0.5px transparent;

                    .Card-top {
                        width: 100%;

                        .category {
                            font-size: 11px;
                        }

                        p {
                            font-size: 15px;
                            font-weight: 700;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            margin-bottom: 10px;
                        }
                    }


                    .image-container {
                        width: 100%;
                        margin: auto;
                        height: 180px;
                        overflow: hidden;
                        align-content: center;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: 100%;
                            margin: auto;
                            height: 180px;
                        }
                    }

                    .card-bottom {
                        display: flex;
                        justify-content: space-between;
                        padding: 15px 0px;
                        align-items: center;
                        width: 100%;

                        .amount {
                            display: flex;
                            flex-direction: column;
                            font-size: 19px;
                            font-weight: 700;
                            width: 50%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;

                            small {
                                font-size: 11px;
                            }
                        }

                        .addToCartBtn {
                            width: 50%;

                            .view__item {
                                width: 50%;
                                margin: 0px 2px;
                                border: 1px solid var(--colorGreen);
                                color: var(--colorGreen);
                                font-size: 13px;
                                font-weight: 800;
                                padding: 10px;
                                outline: none;
                                cursor: pointer;
                                border-radius: 10px;
                                background-color: transparent;
                            }

                            .view__item:hover {
                                transition: 0.3s;
                                color: var(--colorWhite);
                                background-color: var(--colorGreen);
                            }

                            .addtocart {
                                width: 50%;
                                margin: 0px 2px;
                                border: 1px solid var(--colorBlack);
                                color: var(--colorBlack);
                                font-size: 13px;
                                font-weight: 800;
                                padding: 10px;
                                outline: none;
                                cursor: pointer;
                                border-radius: 10px;
                                background-color: transparent;
                            }

                            .addtocart:hover {
                                transition: 0.3s;
                                color: var(--colorWhite);
                                background-color: var(--colorBlack);
                            }
                        }


                    }

                }

                .item-card:hover {
                    transition: 0.3s;
                    border: solid 0.5px var(--colorAsh);
                    text-decoration: none;

                }
            }
        }



    }
}


@media (min-width: 768px) and (max-width: 991.98px) {
    .cart-container {
        max-width: 100%;

        .MuiTypography-root {
            display: none;
        }

        .top-display {
            max-width: 100%;
            margin: auto;
        }

        .Cart-slider {
            max-width: 100%;
            height: 7rem;
            margin: 0.5rem auto;
            overflow: hidden;
            border: solid 10px var(--colorWhite);
            border-radius: 10px;
            box-shadow: 0px 0px 20px #0000001f;

            .alice-carousel {
                width: 100%;
                height: 7rem;
                overflow: hidden;

                .alice-carousel__dots,
                .alice-carousel__prev-btn,
                .alice-carousel__next-btn {
                    display: none;
                }

                .alice-carousel__stage-item {
                    img {
                        width: 100%;
                        height: 7rem;
                    }
                }
            }

        }

        .mobile-category-menu {
            max-width: 95%;
            margin: auto;
            margin-top: -50px;
            padding: 10px;
            padding-top: 0px;
            list-style-type: none;
            border-bottom: solid 5px #f3f0f0;

            li {
                font-size: 15px;
                font-weight: 800;
                text-transform: capitalize;
            }

        }

        .category-shop {
            max-width: 100%;
            margin-bottom: 20px;

            .side-nav {
                display: none;

                p {
                    display: none;
                }

                li {
                    display: none;
                }
            }

            .shop {
                width: 100%;
                list-style-type: none;
                box-sizing: border-box;
                display: flex;
                flex-wrap: wrap;

                .item-card {
                    margin: 5px;
                    padding: 10px;
                    width: 150px;
                    color: var(--colorBlack);
                    height: 290px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    background-color: var(--colorWhite);
                    box-shadow: 0px 0px 7px #00000020;
                    border: solid 0.5px transparent;

                    .Card-top {
                        width: 100%;

                        .category {
                            font-size: 11px;
                        }

                        p {
                            font-size: 15px;
                            font-weight: 700;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            margin-bottom: 10px;
                        }
                    }


                    .image-container {
                        width: 100%;
                        margin: auto;
                        height: 180px;
                        overflow: hidden;
                        align-content: center;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: 100%;
                            margin: auto;
                            height: 180px;
                        }
                    }

                    .card-bottom {
                        display: flex;
                        justify-content: space-between;
                        padding: 15px 0px;
                        align-items: center;
                        width: 100%;

                        .amount {
                            display: flex;
                            flex-direction: column;
                            font-size: 19px;
                            font-weight: 700;
                            width: 50%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;

                            small {
                                font-size: 11px;
                            }
                        }

                        .addToCartBtn {
                            width: 50%;

                            .view__item {
                                width: 50%;
                                margin: 0px 2px;
                                border: 1px solid var(--colorGreen);
                                color: var(--colorGreen);
                                font-size: 13px;
                                font-weight: 800;
                                padding: 10px;
                                outline: none;
                                cursor: pointer;
                                border-radius: 10px;
                                background-color: transparent;
                            }

                            .view__item:hover {
                                transition: 0.3s;
                                color: var(--colorWhite);
                                background-color: var(--colorGreen);
                            }

                            .addtocart {
                                width: 50%;
                                margin: 0px 2px;
                                border: 1px solid var(--colorBlack);
                                color: var(--colorBlack);
                                font-size: 13px;
                                font-weight: 800;
                                padding: 10px;
                                outline: none;
                                cursor: pointer;
                                border-radius: 10px;
                                background-color: transparent;
                            }

                            .addtocart:hover {
                                transition: 0.3s;
                                color: var(--colorWhite);
                                background-color: var(--colorBlack);
                            }
                        }


                    }

                }

                .item-card:hover {
                    transition: 0.3s;
                    border: solid 0.5px var(--colorAsh);
                    text-decoration: none;

                }
            }
        }



    }

}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .cart-container {

        .MuiTypography-root {
            background-color: #f1efef;

            .MuiBreadcrumbs-ol {
                font-size: 12px;
                max-width: 90%;
                margin: auto;
                margin-bottom: 20px;
                padding: 5px;

                .MuiBreadcrumbs-li>a {
                    color: #aaa;
                    font-weight: 500;
                }
            }

        }

        .top-display {
            width: 100%;
            margin: auto;
        }

        .Cart-slider {
            width: 70%;
            height: 13rem;
            margin: auto;
            margin-top: -1rem;
            margin-bottom: 2rem;
            overflow: hidden;
            border: solid 10px var(--colorWhite);
            border-radius: 10px;
            box-shadow: 0px 0px 20px #0000001f;

            .alice-carousel {
                width: 100%;
                height: 13rem;
                overflow: hidden;

                .alice-carousel__dots,
                .alice-carousel__prev-btn,
                .alice-carousel__next-btn {
                    display: none;
                }

                .alice-carousel__stage-item {
                    img {
                        width: 700px;
                        height: 210px;
                    }
                }
            }

        }

        .mobile-category-menu {
            display: none;

        }

        .category-shop {
            max-width: 97%;
            margin: auto;
            margin-bottom: 20px;
            justify-content: space-between;
            display: flex;

            .side-nav {
                width: 18%;
                border: 10px solid #fff;
                padding: 10px;

                p {
                    font-size: 17px;
                    font-weight: 700;
                    color: #aaa;
                    margin: 10px 5px;
                }

                li {
                    padding: 10px;
                    margin: 2px 0px;
                    font-size: 15px;
                    list-style-type: none;
                    border: 1px solid #eeecec;
                    background-color: #f7f5f5;
                    text-transform: capitalize;

                }

                li:hover {
                    background-color: #fff;
                }
            }

            .shop {
                width: 97%;
                margin: auto;
                padding: 0px 15px;
                list-style-type: none;
                box-sizing: border-box;
                display: flex;
                flex-flow: wrap;

                .item-card {
                    margin: 5px;
                    padding: 10px;
                    width: 150px;
                    color: var(--colorBlack);
                    height: 290px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    background-color: var(--colorWhite);
                    box-shadow: 0px 0px 7px #00000020;
                    border: solid 0.5px transparent;

                    .Card-top {
                        width: 100%;

                        .category {
                            font-size: 11px;
                        }

                        p {
                            font-size: 15px;
                            font-weight: 700;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            margin-bottom: 10px;
                        }
                    }


                    .image-container {
                        width: 100%;
                        margin: auto;
                        height: 180px;
                        overflow: hidden;
                        align-content: center;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: 100%;
                            margin: auto;
                            height: 180px;
                        }
                    }

                    .card-bottom {
                        display: flex;
                        justify-content: space-between;
                        padding: 15px 0px;
                        align-items: center;
                        width: 100%;

                        .amount {
                            display: flex;
                            flex-direction: column;
                            font-size: 19px;
                            font-weight: 700;
                            width: 50%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;

                            small {
                                font-size: 11px;
                            }
                        }

                        .addToCartBtn {
                            width: 50%;

                            .view__item {
                                width: 50%;
                                margin: 0px 2px;
                                border: 1px solid var(--colorGreen);
                                color: var(--colorGreen);
                                font-size: 13px;
                                font-weight: 800;
                                padding: 10px;
                                outline: none;
                                cursor: pointer;
                                border-radius: 10px;
                                background-color: transparent;
                            }

                            .view__item:hover {
                                transition: 0.3s;
                                color: var(--colorWhite);
                                background-color: var(--colorGreen);
                            }

                            .addtocart {
                                width: 50%;
                                margin: 0px 2px;
                                border: 1px solid var(--colorBlack);
                                color: var(--colorBlack);
                                font-size: 13px;
                                font-weight: 800;
                                padding: 10px;
                                outline: none;
                                cursor: pointer;
                                border-radius: 10px;
                                background-color: transparent;
                            }

                            .addtocart:hover {
                                transition: 0.3s;
                                color: var(--colorWhite);
                                background-color: var(--colorBlack);
                            }
                        }


                    }

                }

                .item-card:hover {
                    transition: 0.3s;
                    border: solid 0.5px var(--colorAsh);
                    text-decoration: none;

                }
            }
        }


    }
}

@media (min-width: 1200px) {
    .cart-container {

        .MuiTypography-root {
            background-color: #f1efef;

            .MuiBreadcrumbs-ol {
                font-size: 12px;
                max-width: 90%;
                margin: auto;
                margin-bottom: 20px;
                padding: 5px;

                .MuiBreadcrumbs-li>a {
                    color: #aaa;
                    font-weight: 500;
                }
            }

        }

        .top-display {
            width: 100%;
            margin: auto;
        }

        .Cart-slider {
            width: 70%;
            height: 15rem;
            margin: auto;
            margin-top: -1rem;
            margin-bottom: 2rem;
            overflow: hidden;
            border: solid 10px var(--colorWhite);
            border-radius: 10px;
            box-shadow: 0px 0px 20px #0000001f;

            .alice-carousel {
                width: 100%;
                height: 15rem;
                overflow: hidden;

                .alice-carousel__dots,
                .alice-carousel__prev-btn,
                .alice-carousel__next-btn {
                    display: none;
                }

                .alice-carousel__stage-item {
                    img {
                        width: 1000px;
                        height: 240px;
                    }
                }
            }

        }

        .mobile-category-menu {
            display: none;

        }

        .category-shop {
            max-width: 97%;
            margin: auto;
            margin-bottom: 20px;
            justify-content: space-between;
            display: flex;

            .side-nav {
                width: 18%;
                border: 10px solid #fff;
                padding: 10px;

                p {
                    font-size: 17px;
                    font-weight: 700;
                    color: #aaa;
                    margin: 10px 5px;
                }

                li {
                    padding: 10px;
                    margin: 2px 0px;
                    font-size: 15px;
                    list-style-type: none;
                    border: 1px solid #eeecec;
                    background-color: #f7f5f5;
                    text-transform: capitalize;

                }

                li:hover {
                    background-color: #fff;
                }
            }

            .shop {
                width: 97%;
                margin: auto;
                padding: 0px 15px;
                list-style-type: none;
                box-sizing: border-box;
                display: flex;
                flex-flow: wrap;

                .item-card {
                    margin: 5px;
                    padding: 10px;
                    width: 155px;
                    color: var(--colorBlack);
                    height: 290px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    background-color: var(--colorWhite);
                    box-shadow: 0px 0px 7px #00000020;
                    border: solid 0.5px transparent;

                    .Card-top {
                        width: 100%;

                        .category {
                            font-size: 11px;
                        }

                        p {
                            font-size: 15px;
                            font-weight: 700;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            margin-bottom: 10px;
                        }
                    }


                    .image-container {
                        width: 100%;
                        margin: auto;
                        height: 180px;
                        overflow: hidden;
                        align-content: center;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: 100%;
                            margin: auto;
                            height: 180px;
                        }
                    }

                    .card-bottom {
                        display: flex;
                        justify-content: space-between;
                        padding: 15px 0px;
                        align-items: center;
                        width: 100%;

                        .amount {
                            display: flex;
                            flex-direction: column;
                            font-size: 19px;
                            font-weight: 700;
                            width: 50%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;

                            small {
                                font-size: 11px;
                            }
                        }

                        .addToCartBtn {
                            width: 50%;

                            .view__item {
                                width: 50%;
                                margin: 0px 2px;
                                border: 1px solid var(--colorGreen);
                                color: var(--colorGreen);
                                font-size: 13px;
                                font-weight: 800;
                                padding: 10px;
                                outline: none;
                                cursor: pointer;
                                border-radius: 10px;
                                background-color: transparent;
                            }

                            .view__item:hover {
                                transition: 0.3s;
                                color: var(--colorWhite);
                                background-color: var(--colorGreen);
                            }

                            .addtocart {
                                width: 50%;
                                margin: 0px 2px;
                                border: 1px solid var(--colorBlack);
                                color: var(--colorBlack);
                                font-size: 13px;
                                font-weight: 800;
                                padding: 10px;
                                outline: none;
                                cursor: pointer;
                                border-radius: 10px;
                                background-color: transparent;
                            }

                            .addtocart:hover {
                                transition: 0.3s;
                                color: var(--colorWhite);
                                background-color: var(--colorBlack);
                            }
                        }


                    }

                }

                .item-card:hover {
                    transition: 0.3s;
                    border: solid 0.5px var(--colorAsh);
                    text-decoration: none;

                }
            }
        }


    }
}