@media (max-width: 575.98px) {
    .items-card-container {
        margin: 2rem auto;
        max-width: 100%;

        .header {
            font-size: 17px;
            font-weight: 900;
            padding: 20px 10px;
            color: #b9b9b9;


        }

        .items-card-display {
            max-width: 90%;
            margin: auto 2px;
            list-style-type: none;
            box-sizing: border-box;
            display: grid;
            grid-template-areas: 'a a';

            .item-card {
                margin: 5px;
                padding: 10px;
                width: 155px;
                color: var(--colorBlack);
                height: 290px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                background-color: var(--colorWhite);
                box-shadow: 0px 0px 7px #00000020;
                border: solid 0.5px transparent;

                .Card-top {
                    width: 100%;
                                   
                    .category {
                        font-size: 11px;
                    }

                    p {
                        font-size: 15px;
                        font-weight: 700;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        margin-bottom: 10px;
                    }
                }
                

                .image-container {
                    width: 100%;
                    margin: auto;
                    height: 180px;
                    overflow: hidden;
                    align-content: center;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 100%;
                        margin: auto;
                        height: 180px;
                    }
                }

                .card-bottom {
                    display: flex;
                    justify-content: space-between;
                    padding: 15px 0px;
                    align-items: center;
                    width: 100%;

                    .amount {
                        display: flex;
                        flex-direction: column;
                        font-size: 19px;
                        font-weight: 700;
                        width: 67%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;

                        small {
                            font-size: 11px;
                        }
                    }

                    .addToCartBtn {
                        width: 30%;

                        button {
                            width: 100%;
                            border: 1px solid var(--colorBlack);
                            color: var(--colorBlack);
                            font-size: 13px;
                            font-weight: 800;
                            padding: 10px;
                            border-radius: 10px;
                            background-color: transparent;
                        }

                        button:hover {
                            transition: 0.3s;
                            color: var(--colorWhite);
                            background-color: var(--colorBlack);
                        }
                    }


                }

            }

            .item-card:hover {
                transition: 0.3s;
                border: solid 0.5px var(--colorAsh);
                text-decoration: none;

            }


        }
    }

}

@media (min-width: 576px) and (max-width: 767.98px) {
    .items-card-container {
        margin: 2rem auto;
        max-width: 100%;

        .header {
            font-size: 17px;
            font-weight: 900;
            padding: 20px 10px;
            color: #b9b9b9;


        }

        .items-card-display {
            max-width: 90%;
            margin: auto 2px;
            list-style-type: none;
            box-sizing: border-box;
            display: grid;
            grid-template-areas: 'a a';

            .item-card {
                margin: 5px;
                padding: 10px;
                width: 155px;
                color: var(--colorBlack);
                height: 290px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                background-color: var(--colorWhite);
                box-shadow: 0px 0px 7px #00000020;
                border: solid 0.5px transparent;

                .Card-top {
                    width: 100%;

                    .category {
                        font-size: 11px;
                    }

                    p {
                        font-size: 15px;
                        font-weight: 700;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        margin-bottom: 10px;
                    }
                }

                .image-container {
                    width: 100%;
                    margin: auto;
                    height: 180px;
                    overflow: hidden;
                    align-content: center;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 100%;
                        margin: auto;
                        height: 180px;
                    }
                }

                .card-bottom {
                    display: flex;
                    justify-content: space-between;
                    padding: 15px 0px;
                    align-items: center;
                    width: 100%;

                    .amount {
                        display: flex;
                        flex-direction: column;
                        font-size: 19px;
                        font-weight: 700;
                        width: 67%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;

                        small {
                            font-size: 11px;
                        }
                    }

                    .addToCartBtn {
                        width: 30%;

                        button {
                            width: 100%;
                            border: 1px solid var(--colorBlack);
                            color: var(--colorBlack);
                            font-size: 13px;
                            font-weight: 800;
                            padding: 10px;
                            border-radius: 10px;
                            background-color: transparent;
                        }

                        button:hover {
                            transition: 0.3s;
                            color: var(--colorWhite);
                            background-color: var(--colorBlack);
                        }
                    }


                }

            }

            .item-card:hover {
                transition: 0.3s;
                border: solid 0.5px var(--colorAsh);
                text-decoration: none;

            }


        }
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {
    .items-card-container {
        margin: 2rem auto;
        max-width: 90%;

        .header {
            font-size: 20px;
            font-weight: 900;
            padding: 20px 10px;
            color: #b9b9b9;


        }

        .items-card-display {
            width: 100%;
            margin: auto;
            padding: 5px;
            list-style-type: none;
            box-sizing: border-box;
            display: flex;
            flex-flow: row wrap;

            .item-card {
                margin: 10px;
                padding: 10px;
                width: 195px;
                color: var(--colorBlack);
                height: 280px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                background-color: var(--colorWhite);
                box-shadow: 0px 0px 7px #00000020;
                border: solid 0.5px transparent;

                .Card-top {
                    width: 100%;

                    .category {
                        font-size: 11px;
                    }

                    p {
                        font-size: 15px;
                        font-weight: 700;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        margin-bottom: 10px;
                    }
                }

                .image-container {
                    width: 100%;
                    margin: auto;
                    height: 180px;
                    overflow: hidden;
                    align-content: center;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 100%;
                        margin: auto;
                        height: 180px;
                    }
                }

                .card-bottom {
                    display: flex;
                    justify-content: space-between;
                    padding: 15px 0px;
                    align-items: center;
                    width: 100%;

                    .amount {
                        display: flex;
                        flex-direction: column;
                        font-size: 19px;
                        font-weight: 700;
                        width: 67%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;

                        small {
                            font-size: 11px;
                        }
                    }

                    .addToCartBtn {
                        width: 30%;

                        button {
                            width: 100%;
                            border: 1px solid var(--colorBlack);
                            color: var(--colorBlack);
                            font-size: 13px;
                            font-weight: 800;
                            padding: 10px;
                            border-radius: 10px;
                            background-color: transparent;
                        }

                        button:hover {
                            transition: 0.3s;
                            color: var(--colorWhite);
                            background-color: var(--colorBlack);
                        }
                    }


                }

            }

            .item-card:hover {
                transition: 0.3s;
                border: solid 0.5px var(--colorAsh);
                text-decoration: none;

            }


        }
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .items-card-container {
        margin: 2rem auto;
        max-width: 90%;

        .header {
            font-size: 20px;
            font-weight: 900;
            padding: 20px 10px;
            color: #b9b9b9;


        }

        .items-card-display {
            width: 100%;
            margin: auto;
            padding: 5px;
            list-style-type: none;
            box-sizing: border-box;
            display: flex;
            flex-flow: row wrap;

            .item-card {
                margin: 10px;
                padding: 10px;
                width: 170px;
                color: var(--colorBlack);
                height: 290px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                background-color: var(--colorWhite);
                box-shadow: 0px 0px 7px #00000020;
                border: solid 0.5px transparent;

                .Card-top {
                    width: 100%;

                    .category {
                        font-size: 11px;
                    }

                    p {
                        font-size: 15px;
                        font-weight: 700;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        margin-bottom: 10px;
                    }
                }

                .image-container {
                    width: 100%;
                    margin: auto;
                    height: 180px;
                    overflow: hidden;
                    align-content: center;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 100%;
                        margin: auto;
                        height: 180px;
                    }
                }

                .card-bottom {
                    display: flex;
                    justify-content: space-between;
                    padding: 15px 0px;
                    align-items: center;
                    width: 100%;

                    .amount {
                        display: flex;
                        flex-direction: column;
                        font-size: 19px;
                        font-weight: 700;
                        width: 67%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;

                        small {
                            font-size: 11px;
                        }
                    }

                    .addToCartBtn {
                        width: 30%;

                        button {
                            width: 100%;
                            border: 1px solid var(--colorBlack);
                            color: var(--colorBlack);
                            font-size: 13px;
                            font-weight: 800;
                            cursor: pointer;
                            outline: none;
                            padding: 10px;
                            border-radius: 10px;
                            background-color: transparent;
                        }

                        button:hover {
                            transition: 0.3s;
                            color: var(--colorWhite);
                            background-color: var(--colorBlack);
                        }
                    }


                }

            }

            .item-card:hover {
                transition: 0.3s;
                border: solid 0.5px var(--colorAsh);
                text-decoration: none;

            }


        }
    }
}

@media (min-width: 1200px) {
    .items-card-container {
        margin: 2rem auto;
        max-width: 97%;

        .header {
            font-size: 20px;
            font-weight: 900;
            padding: 20px 10px;
            color: #b9b9b9;
            width: 87%;
            margin: auto;

        }

        .items-card-display {
            width: 90%;
            margin: auto;
            padding: 5px;
            list-style-type: none;
            box-sizing: border-box;
            display: flex;
            flex-flow: row wrap;

            .item-card {
                margin: 10px;
                padding: 10px;
                width: 170px;
                color: var(--colorBlack);
                height: 280px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                background-color: var(--colorWhite);
                box-shadow: 0px 0px 7px #00000020;
                border: solid 0.5px transparent;

                .Card-top {
                    width: 100%;

                    .category {
                        font-size: 11px;
                    }

                    p {
                        font-size: 15px;
                        font-weight: 700;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        margin-bottom: 10px;
                    }
                }

                .image-container {
                    width: 100%;
                    margin: auto;
                    height: 180px;
                    overflow: hidden;
                    align-content: center;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 100%;
                        margin: auto;
                        height: 180px;
                    }
                }

                .card-bottom {
                    display: flex;
                    justify-content: space-between;
                    padding: 15px 0px;
                    align-items: center;
                    width: 100%;

                    .amount {
                        display: flex;
                        flex-direction: column;
                        font-size: 19px;
                        font-weight: 700;
                        width: 67%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;

                        small {
                            font-size: 11px;
                        }
                    }

                    .addToCartBtn {
                        width: 30%;

                        button {
                            width: 100%;
                            border: 1px solid var(--colorBlack);
                            color: var(--colorBlack);
                            font-size: 13px;
                            font-weight: 800;
                            padding: 10px;
                            outline: none;
                            cursor: pointer;
                            border-radius: 10px;
                            background-color: transparent;
                        }

                        button:hover {
                            transition: 0.3s;
                            color: var(--colorWhite);
                            background-color: var(--colorBlack);
                        }
                    }


                }

            }

            .item-card:hover {
                transition: 0.3s;
                border: solid 0.5px var(--colorAsh);
                text-decoration: none;

            }


        }
    }


}