@media (max-width: 575.98px) {
  .items-card-container {
    margin: 2rem auto;
    max-width: 100%;
  }
  .items-card-container .header {
    font-size: 17px;
    font-weight: 900;
    padding: 20px 10px;
    color: #b9b9b9;
  }
  .items-card-container .items-card-display {
    max-width: 90%;
    margin: auto 2px;
    list-style-type: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'a a';
  }
  .items-card-container .items-card-display .item-card {
    margin: 5px;
    padding: 10px;
    width: 155px;
    color: var(--colorBlack);
    height: 290px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: var(--colorWhite);
    -webkit-box-shadow: 0px 0px 7px #00000020;
            box-shadow: 0px 0px 7px #00000020;
    border: solid 0.5px transparent;
  }
  .items-card-container .items-card-display .item-card .Card-top {
    width: 100%;
  }
  .items-card-container .items-card-display .item-card .Card-top .category {
    font-size: 11px;
  }
  .items-card-container .items-card-display .item-card .Card-top p {
    font-size: 15px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 10px;
  }
  .items-card-container .items-card-display .item-card .image-container {
    width: 100%;
    margin: auto;
    height: 180px;
    overflow: hidden;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .items-card-container .items-card-display .item-card .image-container img {
    width: 100%;
    margin: auto;
    height: 180px;
  }
  .items-card-container .items-card-display .item-card .card-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .items-card-container .items-card-display .item-card .card-bottom .amount {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 19px;
    font-weight: 700;
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .items-card-container .items-card-display .item-card .card-bottom .amount small {
    font-size: 11px;
  }
  .items-card-container .items-card-display .item-card .card-bottom .addToCartBtn {
    width: 50%;
  }
  .items-card-container .items-card-display .item-card .card-bottom .addToCartBtn .view__item {
    width: 50%;
    margin: 0px 2px;
    border: 1px solid var(--colorGreen);
    color: var(--colorGreen);
    font-size: 13px;
    font-weight: 800;
    padding: 10px;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: transparent;
  }
  .items-card-container .items-card-display .item-card .card-bottom .addToCartBtn .view__item:hover {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: var(--colorWhite);
    background-color: var(--colorGreen);
  }
  .items-card-container .items-card-display .item-card .card-bottom .addToCartBtn .addtocart {
    width: 50%;
    margin: 0px 2px;
    border: 1px solid var(--colorBlack);
    color: var(--colorBlack);
    font-size: 13px;
    font-weight: 800;
    padding: 10px;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: transparent;
  }
  .items-card-container .items-card-display .item-card .card-bottom .addToCartBtn .addtocart:hover {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: var(--colorWhite);
    background-color: var(--colorBlack);
  }
  .items-card-container .items-card-display .item-card:hover {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border: solid 0.5px var(--colorAsh);
    text-decoration: none;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .items-card-container {
    margin: 2rem auto;
    max-width: 100%;
  }
  .items-card-container .header {
    font-size: 17px;
    font-weight: 900;
    padding: 20px 10px;
    color: #b9b9b9;
  }
  .items-card-container .items-card-display {
    max-width: 90%;
    margin: auto 2px;
    list-style-type: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'a a';
  }
  .items-card-container .items-card-display .item-card {
    margin: 5px;
    padding: 10px;
    width: 155px;
    color: var(--colorBlack);
    height: 290px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: var(--colorWhite);
    -webkit-box-shadow: 0px 0px 7px #00000020;
            box-shadow: 0px 0px 7px #00000020;
    border: solid 0.5px transparent;
  }
  .items-card-container .items-card-display .item-card .Card-top {
    width: 100%;
  }
  .items-card-container .items-card-display .item-card .Card-top .category {
    font-size: 11px;
  }
  .items-card-container .items-card-display .item-card .Card-top p {
    font-size: 15px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 10px;
  }
  .items-card-container .items-card-display .item-card .image-container {
    width: 100%;
    margin: auto;
    height: 180px;
    overflow: hidden;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .items-card-container .items-card-display .item-card .image-container img {
    width: 100%;
    margin: auto;
    height: 180px;
  }
  .items-card-container .items-card-display .item-card .card-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .items-card-container .items-card-display .item-card .card-bottom .amount {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 19px;
    font-weight: 700;
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .items-card-container .items-card-display .item-card .card-bottom .amount small {
    font-size: 11px;
  }
  .items-card-container .items-card-display .item-card .card-bottom .addToCartBtn {
    width: 50%;
  }
  .items-card-container .items-card-display .item-card .card-bottom .addToCartBtn .view__item {
    width: 50%;
    margin: 0px 2px;
    border: 1px solid var(--colorGreen);
    color: var(--colorGreen);
    font-size: 13px;
    font-weight: 800;
    padding: 10px;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: transparent;
  }
  .items-card-container .items-card-display .item-card .card-bottom .addToCartBtn .view__item:hover {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: var(--colorWhite);
    background-color: var(--colorGreen);
  }
  .items-card-container .items-card-display .item-card .card-bottom .addToCartBtn .addtocart {
    width: 50%;
    margin: 0px 2px;
    border: 1px solid var(--colorBlack);
    color: var(--colorBlack);
    font-size: 13px;
    font-weight: 800;
    padding: 10px;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: transparent;
  }
  .items-card-container .items-card-display .item-card .card-bottom .addToCartBtn .addtocart:hover {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: var(--colorWhite);
    background-color: var(--colorBlack);
  }
  .items-card-container .items-card-display .item-card:hover {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border: solid 0.5px var(--colorAsh);
    text-decoration: none;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .items-card-container {
    margin: 2rem auto;
    max-width: 90%;
  }
  .items-card-container .header {
    font-size: 20px;
    font-weight: 900;
    padding: 20px 10px;
    color: #b9b9b9;
  }
  .items-card-container .items-card-display {
    width: 100%;
    margin: auto;
    padding: 5px;
    list-style-type: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .items-card-container .items-card-display .item-card {
    margin: 10px;
    padding: 10px;
    width: 195px;
    color: var(--colorBlack);
    height: 280px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: var(--colorWhite);
    -webkit-box-shadow: 0px 0px 7px #00000020;
            box-shadow: 0px 0px 7px #00000020;
    border: solid 0.5px transparent;
  }
  .items-card-container .items-card-display .item-card .Card-top {
    width: 100%;
  }
  .items-card-container .items-card-display .item-card .Card-top .category {
    font-size: 11px;
  }
  .items-card-container .items-card-display .item-card .Card-top p {
    font-size: 15px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 10px;
  }
  .items-card-container .items-card-display .item-card .image-container {
    width: 100%;
    margin: auto;
    height: 180px;
    overflow: hidden;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .items-card-container .items-card-display .item-card .image-container img {
    width: 100%;
    margin: auto;
    height: 180px;
  }
  .items-card-container .items-card-display .item-card .card-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .items-card-container .items-card-display .item-card .card-bottom .amount {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 19px;
    font-weight: 700;
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .items-card-container .items-card-display .item-card .card-bottom .amount small {
    font-size: 11px;
  }
  .items-card-container .items-card-display .item-card .card-bottom .addToCartBtn {
    width: 50%;
  }
  .items-card-container .items-card-display .item-card .card-bottom .addToCartBtn .view__item {
    width: 50%;
    margin: 0px 2px;
    border: 1px solid var(--colorGreen);
    color: var(--colorGreen);
    font-size: 13px;
    font-weight: 800;
    padding: 10px;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: transparent;
  }
  .items-card-container .items-card-display .item-card .card-bottom .addToCartBtn .view__item:hover {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: var(--colorWhite);
    background-color: var(--colorGreen);
  }
  .items-card-container .items-card-display .item-card .card-bottom .addToCartBtn .addtocart {
    width: 50%;
    margin: 0px 2px;
    border: 1px solid var(--colorBlack);
    color: var(--colorBlack);
    font-size: 13px;
    font-weight: 800;
    padding: 10px;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: transparent;
  }
  .items-card-container .items-card-display .item-card .card-bottom .addToCartBtn .addtocart:hover {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: var(--colorWhite);
    background-color: var(--colorBlack);
  }
  .items-card-container .items-card-display .item-card:hover {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border: solid 0.5px var(--colorAsh);
    text-decoration: none;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .items-card-container {
    margin: 2rem auto;
    max-width: 90%;
  }
  .items-card-container .header {
    font-size: 20px;
    font-weight: 900;
    padding: 20px 10px;
    color: #b9b9b9;
  }
  .items-card-container .items-card-display {
    width: 100%;
    margin: auto;
    padding: 5px;
    list-style-type: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .items-card-container .items-card-display .item-card {
    margin: 10px;
    padding: 10px;
    width: 170px;
    color: var(--colorBlack);
    height: 290px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: var(--colorWhite);
    -webkit-box-shadow: 0px 0px 7px #00000020;
            box-shadow: 0px 0px 7px #00000020;
    border: solid 0.5px transparent;
  }
  .items-card-container .items-card-display .item-card .Card-top {
    width: 100%;
  }
  .items-card-container .items-card-display .item-card .Card-top .category {
    font-size: 11px;
  }
  .items-card-container .items-card-display .item-card .Card-top p {
    font-size: 15px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 10px;
  }
  .items-card-container .items-card-display .item-card .image-container {
    width: 100%;
    margin: auto;
    height: 180px;
    overflow: hidden;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .items-card-container .items-card-display .item-card .image-container img {
    width: 100%;
    margin: auto;
    height: 180px;
  }
  .items-card-container .items-card-display .item-card .card-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .items-card-container .items-card-display .item-card .card-bottom .amount {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 19px;
    font-weight: 700;
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .items-card-container .items-card-display .item-card .card-bottom .amount small {
    font-size: 11px;
  }
  .items-card-container .items-card-display .item-card .card-bottom .addToCartBtn {
    width: 50%;
  }
  .items-card-container .items-card-display .item-card .card-bottom .addToCartBtn .view__item {
    width: 50%;
    margin: 0px 2px;
    border: 1px solid var(--colorGreen);
    color: var(--colorGreen);
    font-size: 13px;
    font-weight: 800;
    padding: 10px;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: transparent;
  }
  .items-card-container .items-card-display .item-card .card-bottom .addToCartBtn .view__item:hover {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: var(--colorWhite);
    background-color: var(--colorGreen);
  }
  .items-card-container .items-card-display .item-card .card-bottom .addToCartBtn .addtocart {
    width: 50%;
    margin: 0px 2px;
    border: 1px solid var(--colorBlack);
    color: var(--colorBlack);
    font-size: 13px;
    font-weight: 800;
    padding: 10px;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: transparent;
  }
  .items-card-container .items-card-display .item-card .card-bottom .addToCartBtn .addtocart:hover {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: var(--colorWhite);
    background-color: var(--colorBlack);
  }
  .items-card-container .items-card-display .item-card:hover {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border: solid 0.5px var(--colorAsh);
    text-decoration: none;
  }
}

@media (min-width: 1200px) {
  .items-card-container {
    margin: 2rem auto;
    max-width: 97%;
  }
  .items-card-container .header {
    font-size: 20px;
    font-weight: 900;
    padding: 20px 10px;
    color: #b9b9b9;
    width: 87%;
    margin: auto;
  }
  .items-card-container .items-card-display {
    width: 90%;
    margin: auto;
    padding: 5px;
    list-style-type: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .items-card-container .items-card-display .item-card {
    margin: 10px;
    padding: 10px;
    width: 170px;
    color: var(--colorBlack);
    height: 280px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: var(--colorWhite);
    -webkit-box-shadow: 0px 0px 7px #00000020;
            box-shadow: 0px 0px 7px #00000020;
    border: solid 0.5px transparent;
  }
  .items-card-container .items-card-display .item-card .Card-top {
    width: 100%;
  }
  .items-card-container .items-card-display .item-card .Card-top .category {
    font-size: 11px;
  }
  .items-card-container .items-card-display .item-card .Card-top p {
    font-size: 15px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 10px;
  }
  .items-card-container .items-card-display .item-card .image-container {
    width: 100%;
    margin: auto;
    height: 180px;
    overflow: hidden;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .items-card-container .items-card-display .item-card .image-container img {
    width: 100%;
    margin: auto;
    height: 180px;
  }
  .items-card-container .items-card-display .item-card .card-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .items-card-container .items-card-display .item-card .card-bottom .amount {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 19px;
    font-weight: 700;
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .items-card-container .items-card-display .item-card .card-bottom .amount small {
    font-size: 11px;
  }
  .items-card-container .items-card-display .item-card .card-bottom .addToCartBtn {
    width: 50%;
  }
  .items-card-container .items-card-display .item-card .card-bottom .addToCartBtn .view__item {
    width: 50%;
    margin: 0px 2px;
    border: 1px solid var(--colorGreen);
    color: var(--colorGreen);
    font-size: 13px;
    font-weight: 800;
    padding: 10px;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: transparent;
  }
  .items-card-container .items-card-display .item-card .card-bottom .addToCartBtn .view__item:hover {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: var(--colorWhite);
    background-color: var(--colorGreen);
  }
  .items-card-container .items-card-display .item-card .card-bottom .addToCartBtn .addtocart {
    width: 50%;
    margin: 0px 2px;
    border: 1px solid var(--colorBlack);
    color: var(--colorBlack);
    font-size: 13px;
    font-weight: 800;
    padding: 10px;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: transparent;
  }
  .items-card-container .items-card-display .item-card .card-bottom .addToCartBtn .addtocart:hover {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: var(--colorWhite);
    background-color: var(--colorBlack);
  }
  .items-card-container .items-card-display .item-card:hover {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border: solid 0.5px var(--colorAsh);
    text-decoration: none;
  }
}
/*# sourceMappingURL=categoryCard.css.map */