@media (max-width: 575.98px) {
  .ind-reg {
    max-width: 100%;
    padding: 15px 0px;
    color: black;
    padding-top: 4rem;
  }
  .ind-reg .ind-reg-form {
    max-width: 100%;
    margin: auto;
    padding: 0px 20px;
  }
  .ind-reg .ind-reg-form .form {
    width: 100%;
  }
  .ind-reg .ind-reg-form .form h3 {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .ind-reg .ind-reg-form .form hr {
    width: 33%;
    border: solid 4px var(--colorGreen);
    margin-left: 0;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  .ind-reg .ind-reg-form .form .form-group {
    width: 100%;
    margin: 20px 0;
  }
  .ind-reg .ind-reg-form .form .form-group input {
    width: 100%;
    margin: auto;
    margin-top: 7px;
    border: solid 2px #e9e7e7;
    border-radius: 5px;
    padding: 10px 5px;
  }
  .ind-reg .ind-reg-form .form .form-group select {
    width: 100%;
    padding: 10px 5px;
    border: solid 2px #E9E7E7;
    border-radius: 5px;
  }
  .ind-reg .ind-reg-form .form .btn-group {
    width: 100%;
    margin: 10px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .ind-reg .ind-reg-form .form .btn-group .btn-back {
    width: 25%;
    margin: 5px 0;
    padding: 5px;
    font-size: 25px;
    text-align: center;
    border-radius: 10px;
    color: var(--colorYellow);
    background-color: var(--colorGreen);
  }
  .ind-reg .ind-reg-form .form .btn-group .btn-reg {
    width: 70%;
    outline: none;
    margin: 5px 0;
    border: none;
    border-radius: 10px;
    background-color: var(--colorGreen);
    color: var(--colorWhite);
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .ind-reg {
    max-width: 100%;
    padding: 15px 0px;
    color: black;
  }
  .ind-reg .ind-reg-form {
    max-width: 100%;
    margin: auto;
    padding: 0px 20px;
  }
  .ind-reg .ind-reg-form .form {
    width: 100%;
  }
  .ind-reg .ind-reg-form .form h3 {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .ind-reg .ind-reg-form .form hr {
    width: 33%;
    border: solid 4px var(--colorGreen);
    margin-left: 0;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  .ind-reg .ind-reg-form .form .form-group {
    width: 100%;
    margin: 20px 0;
  }
  .ind-reg .ind-reg-form .form .form-group input {
    width: 100%;
    margin: auto;
    margin-top: 7px;
    border: solid 2px #e9e7e7;
    border-radius: 5px;
    padding: 10px 5px;
  }
  .ind-reg .ind-reg-form .form .form-group select {
    width: 100%;
    padding: 10px 5px;
    border: solid 2px #E9E7E7;
    border-radius: 5px;
  }
  .ind-reg .ind-reg-form .form .btn-group {
    width: 100%;
    margin: 10px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .ind-reg .ind-reg-form .form .btn-group .btn-back {
    width: 25%;
    margin: 5px 0;
    padding: 5px;
    font-size: 25px;
    text-align: center;
    border-radius: 10px;
    color: var(--colorYellow);
    background-color: var(--colorGreen);
  }
  .ind-reg .ind-reg-form .form .btn-group .btn-reg {
    width: 70%;
    outline: none;
    margin: 5px 0;
    border: none;
    border-radius: 10px;
    background-color: var(--colorGreen);
    color: var(--colorWhite);
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .ind-reg {
    max-width: 100%;
    padding: 15px 0px;
    color: black;
  }
  .ind-reg .ind-reg-form {
    max-width: 100%;
    margin: auto;
    padding: 0px 20px;
  }
  .ind-reg .ind-reg-form .form {
    width: 100%;
  }
  .ind-reg .ind-reg-form .form h3 {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .ind-reg .ind-reg-form .form hr {
    width: 33%;
    border: solid 4px var(--colorGreen);
    margin-left: 0;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  .ind-reg .ind-reg-form .form .form-group {
    width: 100%;
    margin: 20px 0;
  }
  .ind-reg .ind-reg-form .form .form-group input {
    width: 100%;
    margin: auto;
    margin-top: 7px;
    border: solid 2px #e9e7e7;
    border-radius: 5px;
    padding: 10px 5px;
  }
  .ind-reg .ind-reg-form .form .form-group select {
    width: 100%;
    padding: 10px 5px;
    border: solid 2px #E9E7E7;
    border-radius: 5px;
  }
  .ind-reg .ind-reg-form .form .btn-group {
    width: 100%;
    margin: 10px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .ind-reg .ind-reg-form .form .btn-group .btn-back {
    width: 25%;
    margin: 5px 0;
    padding: 5px;
    font-size: 25px;
    text-align: center;
    border-radius: 10px;
    color: var(--colorYellow);
    background-color: var(--colorGreen);
  }
  .ind-reg .ind-reg-form .form .btn-group .btn-reg {
    width: 70%;
    outline: none;
    margin: 5px 0;
    border: none;
    border-radius: 10px;
    background-color: var(--colorGreen);
    color: var(--colorWhite);
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .ind-reg {
    max-width: 100%;
    padding: 15px 0px;
    color: black;
  }
  .ind-reg .ind-reg-form {
    max-width: 100%;
    margin: auto;
    padding: 0px 20px;
  }
  .ind-reg .ind-reg-form .form {
    width: 70%;
    margin: auto;
  }
  .ind-reg .ind-reg-form .form h3 {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .ind-reg .ind-reg-form .form hr {
    width: 17%;
    border: solid 4px var(--colorGreen);
    margin-left: 0;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  .ind-reg .ind-reg-form .form .group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .ind-reg .ind-reg-form .form .group .form-group {
    width: 100%;
    margin: 10px 0;
  }
  .ind-reg .ind-reg-form .form .group .form-group input {
    width: 90%;
    margin: auto;
    margin-top: 7px;
    border: solid 2px #e9e7e7;
    border-radius: 10px;
    padding: 10px 5px;
  }
  .ind-reg .ind-reg-form .form .group .form-group select {
    width: 95%;
    padding: 10px 5px;
    border: solid 2px #E9E7E7;
    border-radius: 5px;
  }
  .ind-reg .ind-reg-form .form .btn-group {
    width: 50%;
    margin: 10px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .ind-reg .ind-reg-form .form .btn-group .btn-back {
    display: none;
  }
  .ind-reg .ind-reg-form .form .btn-group .btn-reg {
    width: 100%;
    margin: auto;
    outline: none;
    margin: 5px 0;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color: var(--colorGreen);
    color: var(--colorWhite);
  }
}

@media (min-width: 1200px) {
  .ind-reg {
    max-width: 100%;
    padding: 15px 0px;
    color: black;
  }
  .ind-reg .ind-reg-form {
    max-width: 100%;
    margin: auto;
    padding: 0px 20px;
  }
  .ind-reg .ind-reg-form .form {
    width: 60%;
    margin: auto;
  }
  .ind-reg .ind-reg-form .form h3 {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .ind-reg .ind-reg-form .form hr {
    width: 17%;
    border: solid 4px var(--colorGreen);
    margin-left: 0;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  .ind-reg .ind-reg-form .form .group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .ind-reg .ind-reg-form .form .group .form-group {
    width: 100%;
    margin: 10px 0;
  }
  .ind-reg .ind-reg-form .form .group .form-group input {
    width: 90%;
    margin: auto;
    margin-top: 7px;
    border: solid 2px #e9e7e7;
    border-radius: 10px;
    padding: 15px 5px;
  }
  .ind-reg .ind-reg-form .form .group .form-group select {
    width: 95%;
    padding: 10px 5px;
    border: solid 2px #E9E7E7;
    border-radius: 5px;
  }
  .ind-reg .ind-reg-form .form .btn-group {
    width: 50%;
    margin: 10px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .ind-reg .ind-reg-form .form .btn-group .btn-back {
    display: none;
  }
  .ind-reg .ind-reg-form .form .btn-group .btn-reg {
    width: 100%;
    margin: auto;
    outline: none;
    margin: 5px 0;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color: var(--colorGreen);
    color: var(--colorWhite);
  }
}
/*# sourceMappingURL=register.css.map */