@media (max-width: 575.98px) {
  .LoginContainer {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 100%;
    color: black;
    background-image: url("../../bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 100%;
    padding: 1rem 0;
    padding-top: 5rem;
  }
  .LoginContainer .login {
    width: 40%;
    margin: auto;
  }
  .LoginContainer h3 {
    text-align: center;
    margin: 1rem;
    font-size: 25px;
    text-transform: uppercase;
  }
  .LoginContainer hr {
    width: 90%;
    border: solid 4px var(--colorGreen);
    margin-left: 0;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  .LoginContainer .formContaniner {
    height: 65%;
    width: 95%;
    margin: auto;
    padding: 10px 0px;
    background-color: #eeeded;
    border-radius: 10px;
  }
  .LoginContainer .formContaniner .form {
    width: 80%;
    margin: auto;
    margin-top: 1.5rem;
  }
  .LoginContainer .formContaniner .form .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 2rem auto;
  }
  .LoginContainer .formContaniner .form .form-group input {
    border: solid 2px #e9e7e7;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    outline: none;
  }
  .LoginContainer .formContaniner .form .form-group input::-webkit-input-placeholder {
    color: #c5c3c3;
  }
  .LoginContainer .formContaniner .form .form-group input:-ms-input-placeholder {
    color: #c5c3c3;
  }
  .LoginContainer .formContaniner .form .form-group input::-ms-input-placeholder {
    color: #c5c3c3;
  }
  .LoginContainer .formContaniner .form .form-group input::placeholder {
    color: #c5c3c3;
  }
  .LoginContainer .formContaniner .form .form-group label {
    font-weight: 800;
    font-size: 16px;
    color: #5a5a5a;
    margin: 7px 0;
  }
  .LoginContainer .formContaniner .form .form-group .btn {
    background-color: var(--colorGreen);
    color: var(--colorWhite);
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: none;
  }
  .LoginContainer .formContaniner .form .form-group p {
    font-size: 12px;
    margin: 5px 0px;
  }
  .LoginContainer .forgetPwd {
    text-align: center;
    color: #5a5a5a;
  }
  .LoginContainer .reg {
    font-size: 12px;
    width: 100%;
    text-align: center;
    margin: auto;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .LoginContainer {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 100%;
    color: black;
    background-image: url("../../bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 100%;
    padding: 1rem 0;
    padding-top: 5rem;
  }
  .LoginContainer .login {
    width: 40%;
    margin: auto;
  }
  .LoginContainer h3 {
    text-align: center;
    margin: 1rem;
    font-size: 25px;
    text-transform: uppercase;
  }
  .LoginContainer hr {
    width: 90%;
    border: solid 4px var(--colorGreen);
    margin-left: 0;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  .LoginContainer .formContaniner {
    height: 65%;
    width: 95%;
    margin: auto;
    padding: 10px 0px;
    background-color: #eeeded;
    border-radius: 10px;
  }
  .LoginContainer .formContaniner .form {
    width: 80%;
    margin: auto;
    margin-top: 1.5rem;
  }
  .LoginContainer .formContaniner .form .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 2rem auto;
  }
  .LoginContainer .formContaniner .form .form-group input {
    border: solid 2px #e9e7e7;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    outline: none;
  }
  .LoginContainer .formContaniner .form .form-group input::-webkit-input-placeholder {
    color: #c5c3c3;
  }
  .LoginContainer .formContaniner .form .form-group input:-ms-input-placeholder {
    color: #c5c3c3;
  }
  .LoginContainer .formContaniner .form .form-group input::-ms-input-placeholder {
    color: #c5c3c3;
  }
  .LoginContainer .formContaniner .form .form-group input::placeholder {
    color: #c5c3c3;
  }
  .LoginContainer .formContaniner .form .form-group label {
    font-weight: 800;
    font-size: 16px;
    color: #5a5a5a;
    margin: 7px 0;
  }
  .LoginContainer .formContaniner .form .form-group .btn {
    background-color: var(--colorGreen);
    color: var(--colorWhite);
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: none;
  }
  .LoginContainer .formContaniner .form .form-group p {
    font-size: 12px;
    margin: 5px 0px;
  }
  .LoginContainer .forgetPwd {
    text-align: center;
    color: #5a5a5a;
  }
  .LoginContainer .reg {
    font-size: 12px;
    width: 100%;
    text-align: center;
    margin: auto;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .LoginContainer {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 100%;
    color: black;
    background-image: url("../../bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 100%;
    padding: 1rem 0;
    padding-top: 5rem;
  }
  .LoginContainer .login {
    width: 40%;
    margin: auto;
  }
  .LoginContainer h3 {
    text-align: center;
    margin: 1rem;
    font-size: 25px;
    text-transform: uppercase;
  }
  .LoginContainer hr {
    width: 90%;
    border: solid 4px var(--colorGreen);
    margin-left: 0;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  .LoginContainer .formContaniner {
    height: 65%;
    width: 95%;
    margin: auto;
    padding: 10px 0px;
    background-color: #eeeded;
    border-radius: 10px;
  }
  .LoginContainer .formContaniner .form {
    width: 80%;
    margin: auto;
    margin-top: 1.5rem;
  }
  .LoginContainer .formContaniner .form .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 2rem auto;
  }
  .LoginContainer .formContaniner .form .form-group input {
    border: solid 2px #e9e7e7;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    outline: none;
  }
  .LoginContainer .formContaniner .form .form-group input::-webkit-input-placeholder {
    color: #c5c3c3;
  }
  .LoginContainer .formContaniner .form .form-group input:-ms-input-placeholder {
    color: #c5c3c3;
  }
  .LoginContainer .formContaniner .form .form-group input::-ms-input-placeholder {
    color: #c5c3c3;
  }
  .LoginContainer .formContaniner .form .form-group input::placeholder {
    color: #c5c3c3;
  }
  .LoginContainer .formContaniner .form .form-group label {
    font-weight: 800;
    font-size: 16px;
    color: #5a5a5a;
    margin: 7px 0;
  }
  .LoginContainer .formContaniner .form .form-group .btn {
    background-color: var(--colorGreen);
    color: var(--colorWhite);
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    border: none;
  }
  .LoginContainer .formContaniner .form .form-group p {
    font-size: 12px;
    margin: 5px 0px;
  }
  .LoginContainer .forgetPwd {
    text-align: center;
    color: #5a5a5a;
  }
  .LoginContainer .reg {
    font-size: 12px;
    width: 100%;
    text-align: center;
    margin: auto;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .LoginContainer {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 100%;
    color: black;
    background-image: url("../../bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 100%;
    padding: 2px 0;
  }
  .LoginContainer .formContaniner {
    height: 75%;
    width: 50%;
    margin: 2rem auto;
    background-color: #eeeded;
    border-radius: 10px;
  }
  .LoginContainer .formContaniner .login {
    width: 20%;
    margin: auto;
  }
  .LoginContainer .formContaniner .login h3 {
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    padding: 30px 0px;
  }
  .LoginContainer .formContaniner .login hr {
    width: 100%;
    margin: auto;
    border: solid 4px var(--colorGreen);
    margin-left: 0;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  .LoginContainer .formContaniner .form {
    width: 70%;
    margin: auto;
    margin-top: 1.5rem;
  }
  .LoginContainer .formContaniner .form .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1rem auto;
  }
  .LoginContainer .formContaniner .form .form-group input {
    border: solid 2px #e9e7e7;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    outline: none;
  }
  .LoginContainer .formContaniner .form .form-group input::-webkit-input-placeholder {
    color: #c5c3c3;
  }
  .LoginContainer .formContaniner .form .form-group input:-ms-input-placeholder {
    color: #c5c3c3;
  }
  .LoginContainer .formContaniner .form .form-group input::-ms-input-placeholder {
    color: #c5c3c3;
  }
  .LoginContainer .formContaniner .form .form-group input::placeholder {
    color: #c5c3c3;
  }
  .LoginContainer .formContaniner .form .form-group label {
    font-weight: 800;
    font-size: 16px;
    color: #5a5a5a;
    margin: 7px 0;
  }
  .LoginContainer .formContaniner .form .form-group .btn {
    background-color: var(--colorGreen);
    color: var(--colorWhite);
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    border: none;
  }
  .LoginContainer .formContaniner .form .form-group p {
    font-size: 12px;
    margin: 5px 0px;
  }
  .LoginContainer .forgetPwd {
    text-align: center;
    color: #5a5a5a;
  }
  .LoginContainer .reg {
    font-size: 13px;
    width: 90%;
    margin: auto;
    padding: 2rem;
  }
}

@media (min-width: 1200px) {
  .LoginContainer {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 100%;
    color: black;
    background-image: url("../../bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 100%;
    padding: 2px 0;
  }
  .LoginContainer .formContaniner {
    background-color: #eeeded;
    height: 70%;
    width: 50%;
    margin: 3rem auto;
    border-radius: 10px;
  }
  .LoginContainer .formContaniner .login {
    width: 20%;
    margin: auto;
  }
  .LoginContainer .formContaniner .login h3 {
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    padding: 30px 0px;
  }
  .LoginContainer .formContaniner .login hr {
    width: 100%;
    margin: auto;
    border: solid 4px var(--colorGreen);
    margin-left: 0;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  .LoginContainer .formContaniner .form {
    width: 70%;
    margin: auto;
    margin-top: 1.5rem;
  }
  .LoginContainer .formContaniner .form .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1rem auto;
  }
  .LoginContainer .formContaniner .form .form-group input {
    border: solid 2px #e9e7e7;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    outline: none;
  }
  .LoginContainer .formContaniner .form .form-group input::-webkit-input-placeholder {
    color: #c5c3c3;
  }
  .LoginContainer .formContaniner .form .form-group input:-ms-input-placeholder {
    color: #c5c3c3;
  }
  .LoginContainer .formContaniner .form .form-group input::-ms-input-placeholder {
    color: #c5c3c3;
  }
  .LoginContainer .formContaniner .form .form-group input::placeholder {
    color: #c5c3c3;
  }
  .LoginContainer .formContaniner .form .form-group label {
    font-weight: 800;
    font-size: 16px;
    color: #5a5a5a;
    margin: 7px 0;
  }
  .LoginContainer .formContaniner .form .form-group .btn {
    background-color: var(--colorGreen);
    color: var(--colorWhite);
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 15px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  .LoginContainer .formContaniner .form .form-group p {
    font-size: 12px;
    margin: 5px 0px;
  }
  .LoginContainer .forgetPwd {
    text-align: center;
    color: #5a5a5a;
  }
  .LoginContainer .reg {
    font-size: 13px;
    width: 70%;
    margin: auto;
    padding-bottom: 2rem;
  }
}
/*# sourceMappingURL=login.css.map */