@media (max-width: 575.98px) {
  .mainContainer {
    background-image: url("../../bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 100%;
    height: 45vh;
    padding: 5rem 0;
  }
  .mainContainer .fp-container {
    max-width: 90%;
    height: 75%;
    background-color: #fff;
    margin: auto;
    -webkit-box-shadow: 2px 2px 50px #00000018;
            box-shadow: 2px 2px 50px #00000018;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #5e5c5c;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5px;
    text-align: center;
  }
  .mainContainer .fp-container p {
    font-size: 20px;
    font-weight: 900;
  }
  .mainContainer .fp-container small {
    font-size: 15px;
    margin: 5px 0px;
  }
  .mainContainer .fp-container form {
    width: 100%;
    margin: auto;
    margin-top: 2rem;
  }
  .mainContainer .fp-container form .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .mainContainer .fp-container form .form-group input {
    width: 100%;
    border-radius: 5px;
    border: solid 2px #dadada;
    padding: 0px 10px;
  }
  .mainContainer .fp-container form .form-group button {
    margin: 1rem 5px;
    width: 100%;
    padding: 12px;
    background-color: var(--colorGreen);
    border: none;
    color: var(--colorLight);
    border-radius: 5px;
    outline: none;
  }
  .mainContainer .fp-container form a .back {
    margin: auto;
    color: #727171;
    background-color: #e7e5e5;
    border: none;
    border-radius: 5px;
    padding: 10px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .mainContainer {
    background-image: url("../../bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 100%;
    height: 45vh;
    padding: 5rem 0;
  }
  .mainContainer .fp-container {
    max-width: 90%;
    height: 75%;
    background-color: #fff;
    margin: auto;
    -webkit-box-shadow: 2px 2px 50px #00000018;
            box-shadow: 2px 2px 50px #00000018;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #5e5c5c;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5px;
    text-align: center;
  }
  .mainContainer .fp-container p {
    font-size: 20px;
    font-weight: 900;
  }
  .mainContainer .fp-container small {
    font-size: 15px;
    margin: 5px 0px;
  }
  .mainContainer .fp-container form {
    width: 100%;
    margin: auto;
    margin-top: 2rem;
  }
  .mainContainer .fp-container form .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .mainContainer .fp-container form .form-group input {
    width: 100%;
    border-radius: 5px;
    border: solid 2px #dadada;
    padding: 0px 10px;
  }
  .mainContainer .fp-container form .form-group button {
    margin: 1rem 5px;
    width: 100%;
    padding: 12px;
    background-color: var(--colorGreen);
    border: none;
    color: var(--colorLight);
    border-radius: 5px;
    outline: none;
  }
  .mainContainer .fp-container form a .back {
    margin: auto;
    color: #727171;
    background-color: #e7e5e5;
    border: none;
    border-radius: 5px;
    padding: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .mainContainer {
    background-image: url("../../bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 100%;
    height: 45vh;
    padding: 5rem 0;
  }
  .mainContainer .fp-container {
    max-width: 90%;
    height: 75%;
    background-color: #fff;
    margin: auto;
    -webkit-box-shadow: 2px 2px 50px #00000018;
            box-shadow: 2px 2px 50px #00000018;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #5e5c5c;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5px;
    text-align: center;
  }
  .mainContainer .fp-container p {
    font-size: 20px;
    font-weight: 900;
  }
  .mainContainer .fp-container small {
    font-size: 15px;
    margin: 5px 0px;
  }
  .mainContainer .fp-container form {
    width: 100%;
    margin: auto;
    margin-top: 2rem;
  }
  .mainContainer .fp-container form .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .mainContainer .fp-container form .form-group input {
    width: 100%;
    border-radius: 5px;
    border: solid 2px #dadada;
    padding: 0px 10px;
  }
  .mainContainer .fp-container form .form-group button {
    margin: 1rem 5px;
    width: 100%;
    padding: 12px;
    background-color: var(--colorGreen);
    border: none;
    color: var(--colorLight);
    border-radius: 5px;
    outline: none;
  }
  .mainContainer .fp-container form a .back {
    margin: auto;
    color: #727171;
    background-color: #e7e5e5;
    border: none;
    border-radius: 5px;
    padding: 10px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .mainContainer {
    background-image: url("../../bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 100%;
    height: 45vh;
    padding: 5rem 0;
  }
  .mainContainer .fp-container {
    width: 60%;
    height: 50%;
    background-color: #fff;
    margin: auto;
    -webkit-box-shadow: 2px 2px 50px #00000018;
            box-shadow: 2px 2px 50px #00000018;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #5e5c5c;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5px;
  }
  .mainContainer .fp-container p {
    font-size: 25px;
    font-weight: 900;
  }
  .mainContainer .fp-container small {
    font-size: 15px;
    margin: 5px 0px;
  }
  .mainContainer .fp-container form {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
  }
  .mainContainer .fp-container form .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    width: 100%;
  }
  .mainContainer .fp-container form .form-group input {
    width: 100%;
    border-radius: 5px;
    border: solid 2px #dadada;
    padding: 0px 10px;
  }
  .mainContainer .fp-container form .form-group button {
    margin: 0 5px;
    width: 40%;
    background-color: var(--colorGreen);
    border: none;
    color: var(--colorLight);
    border-radius: 5px;
    outline: none;
  }
  .mainContainer .fp-container form a {
    display: none;
  }
  .mainContainer .fp-container form a .back {
    margin: auto;
    color: #727171;
    background-color: #e7e5e5;
    border: none;
    border-radius: 5px;
    padding: 10px;
  }
}

@media (min-width: 1200px) {
  .mainContainer {
    background-image: url("../../bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 100%;
    height: 45vh;
    padding: 5rem 0;
  }
  .mainContainer .fp-container {
    width: 50%;
    height: 50%;
    background-color: #fff;
    margin: auto;
    -webkit-box-shadow: 2px 2px 50px #00000018;
            box-shadow: 2px 2px 50px #00000018;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #5e5c5c;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 5px;
  }
  .mainContainer .fp-container p {
    font-size: 25px;
    font-weight: 900;
  }
  .mainContainer .fp-container small {
    font-size: 15px;
    margin: 5px 0px;
  }
  .mainContainer .fp-container form {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
  }
  .mainContainer .fp-container form .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    width: 100%;
  }
  .mainContainer .fp-container form .form-group input {
    width: 100%;
    border-radius: 5px;
    border: solid 2px #dadada;
    padding: 0px 10px;
  }
  .mainContainer .fp-container form .form-group button {
    margin: 0 5px;
    width: 40%;
    background-color: var(--colorGreen);
    border: none;
    color: var(--colorLight);
    border-radius: 5px;
    outline: none;
  }
  .mainContainer .fp-container form a {
    display: none;
  }
  .mainContainer .fp-container form a .back {
    margin: auto;
    color: #727171;
    background-color: #e7e5e5;
    border: none;
    border-radius: 5px;
    padding: 10px;
  }
}
/*# sourceMappingURL=forgotpassword.css.map */